
$font_family: "Helvetica Neue",sans-serif;

$brand_color : #fdd402;

$dark_color : #000;
$primary_text_color : #414042;
$secondary_text_color  : #7a7c7f;

$text_color_light :  #fff;

$h_colors : #e62158;


$footer_background : #081526;
